body {
    background-color: #fffbcc; /* Amarelo claro para o fundo */
    color: #333; /* Cor de texto padrão */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffdf3b; /* Amarelo mais escuro para o cabeçalho */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
    color: #333; /* Cor do título */
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }
  
  .content p {
    font-size: 20px;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção do vídeo 16:9 */
    height: 0;
    margin-top: 20px;
    border-radius: 15px; /* Bordas arredondadas */
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px; /* Bordas arredondadas */
  }
  
  footer {
    background-color: #ffdf3b; /* Amarelo mais escuro para o rodapé */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  